body{
  margin: 0;
  padding: 0;
}

.list{
  z-index: 90;
  position: absolute;
  top: 80px;
  left: 10px;
  font-size: 17px;
  color: black;
  background-color: rgba(180, 180, 180, 0.5);
  border-radius: 10px;
  padding: 5px;
  resize: none;
}

.info{
  z-index: 100;
  position: absolute;
  top: 80px;
  right: 20px;
}

.button{
  z-index: 100;
  position: absolute;
  height: 30px;
  width: 50px;
}

#previous{
  top: 20px;
  right: 90px;
}

#next{
  top: 20px;
  right: 20px;
}

