body{
  margin: 0;
  padding: 0;
}

.info{
  z-index: 100;
  position: absolute;
  top: 80px;
  right: 20px;
}

.button{
  z-index: 100;
  position: absolute;
  height: 30px;
  width: 50px;
}

#previous{
  top: 20px;
  right: 90px;
}

#next{
  top: 20px;
  right: 20px;
}

